h1 {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 5;
}

.buttons {
    text-align: center;
}

.button {
    border-radius: 50%;
    padding: 35px 35px;
    font-size: 18px;
    background-color: rgb(85, 15, 15);
    color: white;
}
p {
    text-align: center;
}